.main {
  width: 600px;
  margin: auto;
  font-family: 'Staatliches', cursive;
  
}

.clock-main {
  
}

.time-date {
  background: orange;
  color: white;
  padding: 0 50px;
  border: black solid 3px;
  font-size: 20px;
} 

.time-div{
  display: flex;
  justify-content: space-between;
}

.tab-header {
  width: 200px;
  height: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.tab-header > li {
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightpink;
  list-style: none;
}

.tab-header > li:first-child {
  border-left: 2px solid black; 
}

.tab-header > li:last-child {
  border-right: 2px solid black;
}

.tab-header > li:hover {
  background-color: black;
  color: white;
}

.active {
  font-weight: bold;

}

.tabs {
  width: 240px;
  height: 200px;
}

.tab-content {
  font-weight: bold;
  color: white;
  height: 192px; 
  background: lightpink;
  margin: 0 20px;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.tab-content > article {
  text-align: center; 
}